ul.menu {
    list-style: none;
    padding: 0;
    background: #388e3c87;
    height: 50px;
}

ul.menu a {
    text-decoration: none;
    color: #fff;
    padding: 0px 15px;
    line-height: 50px;
    display: block;
    border-right: 1px solid #8BC34A;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;

}

ul.menu a:hover {
    background: #388e3c87;
}

ul.menu li {
    float: left;
}